@model Regulations.Models.Regulation
@{
    //ViewData["Title"] = "Список нормативной документации";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Regulation Edition Page</title>
</head>
<body>
    
    <div>
        <h3>Редактирование записей БД.</h3>
        <form asp-action="UpdateRegulation" asp-controller="Regulations" asp-antiforgery="true" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Added" value="@DateTime.Now" />
            <table>
                <tr>
                    <td>Краткое наименование нормативной документации</td>
                    <td><input type="text" asp-for="ShortName" value="@Model.ShortName" /></td>
                </tr>
                <tr>
                    <td>Полное наименование нормативной документации</td>
                    <td><input type="text" asp-for="FullName" value="@Model.FullName" /></td>
                </tr>
                <tr>
                    <td>Введите ссылку на документацию</td>
                    <td><input type="text" asp-for="Link" value="@Model.Link" /></td>
                </tr>
                <tr>
                    <td>Ваш Id:</td>
                    <td><input type="text" asp-for="UserId" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить изменения" /></td><td></td></tr>
            </table>
        </form>        
    </div>    
</body>
</html>