@model Regulations.Models.Regulation
@{
    ViewData["Title"] = localizer["Edit_Header"];
    Layout = "_ValidationRegLayout";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

<div>
    <h3>@localizer["Edit_Header"]</h3>
    <form asp-action="UpdateRegulation" asp-controller="Regulations" asp-antiforgery="true" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Added" value="@DateTime.Now" />
        <input type="hidden" asp-for="User.Email" value="@User.Identity.Name" />
        <div class="form-group">
            <label>@localizer["Edit_ShortName"]</label>
            <input type="text" asp-for="ShortName" value="@Model.ShortName" />
            <span asp-validation-for="ShortName"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Edit_FullName"]</label>
            <input type="text" asp-for="FullName" value="@Model.FullName" />
            <span asp-validation-for="FullName"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Edit_Link"]</label>
            <input type="text" asp-for="Link" value="@Model.Link" />
            <span asp-validation-for="Link"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Edit_UserId"]</label>
            <input type="number" asp-for="UserId" value="" />
            <span asp-validation-for="UserId"></span>
        </div>
        <div>
            <input type="submit" value=@localizer["Edit_Submit"] class="btn btn-primary"/>
        </div>
    </form>
</div>
